.ui.fitted.image.item {
  height: 50px;
}

#welcome-logo {
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {
    left: -1000px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

/* Standard syntax */
@keyframes example {
  0% {
    left: -1000px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

code{
  background-color: lightgrey;
}

.code-snippet{
  background-color: lightgrey;
  display: inline-block;
  padding: 10px;
}

.question-body{
  padding: 15px;
  background-color: #D3F8DE;
}

.answer-body{
  padding: 15px;
  background-color: #D3F8DE;
}

.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
  height: 1200px;
  width: 800px;
  position: absolute;
  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 8s linear infinite;
}

@keyframes moveSlideshow {
  0%{
    transform: translateY(-85%);
  }
  100% {
    transform: translateY(15%);
  }
}